


body {
    display: flex;
  }
  
  
  button {
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #00b8d4;
    color: white;
    font-size: 16px;
  }
  
  
  #top-artists, #album-image {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  
  
  .artist-link {
    display: block;
    font-size: 16px;
  }
  
 
  #album-image {
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 5px;
  }
  
  
  #album-image img {
    width: 100%;
    height: auto;
  }
  
  